{{/*
  transform/imgix
  Will return the data (Permalink) of an image "transformed" using imgix rendering API.

  @author @regisphilibert

  @context Map (.name)

  @access private

  @returns Map
    String (.Permalink)
    String (.RelPermalink)

  @uses
     - tnd-imgix/GetSRC

*/}}

{{ $options := $.options }}
{{ $resource := $.resource }}
{{ $args := merge (dict "src" $.path) $.options }}
{{ $s := newScratch }}
{{ $s.Set "data" dict }}

{{ with partialCached "tnd-imgix/GetSRC" $args $args }}
  {{ $s.SetInMap "data" "Permalink" . }}
  {{ $s.SetInMap "data" "RelPermalink" . }}
{{ end }}
{{/* Not ready for this yet... */}}
{{ if false }}
  {{ with $resource = $.resource }}
    {{ $targetWidth := "" }}
    {{ $targetHeight := "" }}
    {{ with $options.width }}
      {{ $targetWidth = . }}
    {{ end }}
    {{ with $options.height }}
      {{ $targetHeight = . }}
    {{ end }}
    {{ $dimArgs := dict
      "width" $resource.Width
      "height" $resource.Height
      "targetWidth" $targetWidth
      "targetHeight" $targetHeight
    }}
    {{ with partialCached "tnd-media/private/GetNewDimensions" $dimArgs $dimArgs }}
      {{ $s.SetInMap "data" "Width" .Width }}
      {{ $s.SetInMap "data" "Height" .Height }}
    {{ end }}
  {{ end }}
  
{{ end }}

{{ return $s.Get "data" }}