{{/*
  FormatSettings
  Retrieve the options list form given option maps

  @author @regisphilibert

  @context Type (.name)

  @access private

  @returns Type

  @uses
     - partial

{{ $args := dict
  "src" "/uploads/something.jpg"
  "height" 400
  "quality" 80
  "format" "webp"
  "rotate" 90
}} > "x400 q80 r90 webp"
*/}}
{{ $return := "" }}
{{ $output_options := slice }}
{{ $options := slice }}
{{ range $key := slice "dimensions" "format" "quality" "rotate" }}
  {{ with partialCached (print "tnd-media/private/FormatSettings/" $key) $ $ }}
    {{ $options = $options | append . }}
  {{ end }}
{{ end }}

{{ with $options }}
  {{ $return = delimit . " " }}
{{ end }}

{{ return $return }}