{{/*
  GetBundle
  Retrieve an Page Bundle given a filepath relative to content directory. For now it only targets the first directory of the path. 
  
  For example:
    - /uploads/image.jpg 
    - /uploads/subdir/image.jpg
  Will both work if uploads/ is the bunlde (contains a the `index.md`) but will fail if the bunlde is `/uploads/subdir/`.

  @author @regisphilibert

  @context String (.)

  @access private

  @returns Page

  @uses
     - partial

  @example - Go Template
    {{ with partialCached "GetBundle" context context }}
      {{ something = . }}
    {{ end }}
*/}}

{{ $path := . }}
{{ $bundle := dict }}
{{ with $path }}
  {{ $info := path.Split . }}
  {{ with $info.Dir }}
    {{/* We retrieve the first directory of the path */}}
    {{ $bundle_dirs := split . "/" }}
    {{ with index $bundle_dirs 0 }}
      {{ with site.GetPage . }}
        {{ $bundle = . }}
      {{ else }}
       {{ with site.Sites.First.GetPage . }}
        {{ $bundle = . }}
       {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $bundle }}