{{/*
  GetNewDimensions
  Calculate new width and or height based on given original height and width and target height and/or width

  @author @regisphilibert

  @context Map
    Int (.originalWidth)
    Int (.targetWidth)
    Int (.originalHeight)
    Int (.targetHeight)

  @access private

  @returns Map
    Int (.Width)
    Int (.Height)

*/}}

{{ $width := .originalWidth }}
{{ $height := .originalHeight }}
{{ $updateDimensions := false }}


{{ with .targetWidth }}
  {{ $width = . }}
  {{ $updateDimensions = true }}
{{ end }}
{{ with .targetHeight }}
  {{ $height = . }}
  {{ $updateDimensions = true }}
{{ end }}

{{ if (and .targetWidth .targetHeight) }}
  {{ $updateDimensions = false }}
{{ end }}

{{ if $updateDimensions }}
  {{ $ratio := div (float .originalWidth) (float .originalHeight) }}
    
  {{ with .targetHeight }}
    {{ $width = mul . $ratio | math.Ceil }}
  {{ end }}
  {{ with .targetWidth }}
    {{ $height = div . $ratio | math.Ceil }}
  {{ end }}
{{ end }}


{{ return dict "Height" $height "Width" $width }}