{{/*
  ParseArgs
  Retrieve .path and .options from given map

  @author @regisphilibert

  @context Map (.)

  @access private

  @returns Map
    String (.Path)
    Map (.Options)

  @uses
     - tnd-media/private/SanitizeOptions"

*/}}

{{ $path := $ }}
{{ $public := "" }}
{{ $options := dict }}
{{ if reflect.IsMap $ }}
  {{ with .src }}
    {{ $path = . }}
  {{ end }}
  {{ with .path }}
    {{ $path = . }}
  {{ end }}
  {{ with .public }}
    {{ $public = . }}
  {{ end }}
  {{ $options = partialCached "tnd-media/private/SanitizeOptions" $ $}}
{{ end }}

{{ return dict "Path" $path "Public" $public "Options" $options }}